@{
    ViewBag.Title = "Index";
}

@section styles{

}
<div class="page-header page-header-light">

    <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
        <div class="d-flex">
            <div class="breadcrumb">
                <a href="~/Dashboard/Index" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Dashboard</a>
                <span class="breadcrumb-item active">Vendor</span>
            </div>

            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>
    </div>

</div>
@*<div class="card">
    <div class="card-header header-elements-inline search-header" style="color:white">
        <h5 class="card-title"> <span class="font-weight-semibold">Search</span> </h5>
        <div class="header-elements"> </div>
    </div>
    <div calss="card-body" style="margin-top: 10px;">

        <form id="VendorSearchForm">
            @Html.AntiForgeryToken()
            <div class="col-lg-12 row">
                <div class="col-md-6">


                    <div class="form-group row">
                        <label class="col-md-3 control-label">Vendor No</label>
                        <div class="col-md-7">
                            <input class="form-control" id="txtVendorNo" name="txtVendorNo">


                        </div>

                    </div>

                </div>
                <div class="col-md-6">




                    <div class="form-group row">

                        <div class="col-md-2">
                            <button type="submit" class="btn  actionbtn btn-sm " style="float:right;"><b>Search<i class="icon-search4 ml-2"></i></b></button>
                        </div>
                    </div>


                </div>
            </div>

        </form>
    </div>
</div>*@
<div class="card">
    <div class="card-header mb-4" style="color:white">
        <h5 class="card-title">
            <a class='btn   btn-labeled btn-labeled-left btn-sm authorizeOrNotInsert' href="#" onclick="EditVendor(0)" style="text-decoration:none;background-color:white;">
                <b><i class="icon-plus3"></i></b>
                Add New
            </a>
            <span class="font-weight-semibold">Vendor</span>
        </h5>

        <div class="card-tools">
            <form id="VendorSearchForm">
                @Html.AntiForgeryToken()
                <div class="row">
                    <label class="col-md-3 control-label">Vendor #</label>
                    <div class="col-md-6">
                        <input class="form-control" id="txtVendorNo" name="txtVendorNo">


                    </div>
                    <div class="col-md-3">
                        <button type="submit" class="btn  btn-primary btn-sm mt-1" style="float:right;"><b>Search<i class="icon-search4 ml-2"></i></b></button>
                    </div>
                </div>

            </form>
        </div>

    </div>


    <div class="card-body">

        <table class="table datatable-button-html5-columns   dataTable no-footer" id="dtVendor">
            <thead>
                <tr>
                    <th>Vendor No.</th>
                    <th>Comapny</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Tax ID</th>
                    <th>Term</th>

                    <th style="text-align:right">Action</th>
                </tr>
            </thead>
            <tbody>
            </tbody>

        </table>
        <input type="hidden" id="txtCurrentPageID" name="CurrentPageID" value="1" />
        <input type="hidden" id="txtNoOfRowsID" name="NoOfRowsID" value="10" />
        <input type="hidden" id="txtSortType" name="SortType" value="asc" />
        <input type="hidden" id="txtSortCol" name="SortCol" value="id" />
        <input type="hidden" id="txtkeyWordSearch" name="keyWordSearch" value="" />
    </div>


</div>



@section scripts
{
    @Scripts.Render("~/bundles/DataTableScripts")



    <script>
        var LocationID='@Session["LocationID"]';
        $(document).ready(function () {
            SBVendor();

            $('input[type="search"]').keyup(function () {
                debugger;
                $('#txtkeyWordSearch').val($('input[type="search"]').val()).change();
                LoadTableData();
            });
            $('select[name="dtVendor_length"]').change(function () {
                $('#txtNoOfRowsID').val($('select[name="dtVendor_length"]').val()).change();
                LoadTableData();
            });
            $('#txtSortType').change(function () {

                LoadTableData();
            });
            $('#txtSortCol').change(function () {

                LoadTableData();
            });
            LoadTableData();

        });
        $(document).on("preInit.dt", function () {
            $(".dataTables_filter input[type='search']").attr("maxlength", 100);

        });

        $('#dtVendor thead').on('click', 'tr', function () {
            debugger;
            var table = $("#dtVendor").DataTable();
            var order = table.order();

            var title = table.column(order[0][0]).header();
            if ($(title).html() != "Sr.") {
                $("#txtSortType").val(order[0][1]);//asc,desc
                $("#txtSortCol").val($(title).html()).change();//Column Name
            }

        });

        function LoadTableData() {

            $("body").tooltip({ selector: '[data-toggle=tooltip]' });
            $('[data-toggle="tooltip"]').tooltip({ html: true });

            let VendorNo = $('#txtVendorNo').val();

            var table = $("#dtVendor").DataTable();
            var count = 1;
            var headers = {};
            var token = $('input[name="__RequestVerificationToken"]').val();
            headers['__RequestVerificationToken'] = token;

            $.ajax({
                type: "POST",
                headers: headers,
                contentType: "application/json; charset=utf-8",
                url: "/VendorList/GetTableSummary",
                data: JSON.stringify({ "VendorNo": VendorNo, "PageNo": $('#txtCurrentPageID').val(), "PageRows": $('#txtNoOfRowsID').val(), "SortCol": $('#txtSortCol').val(), "SortType": $('#txtSortType').val(), "KeyWordSearch": $('#txtkeyWordSearch').val()}),
                dataType: "json",
                success: function (result) {
                    var totalrecords = 0;
                    if (result != null && result != "Error") {
                        table.clear();
                        $.each(result, function (i, Data) {
                            totalrecords = Data.TotalRecords;
                            var visitortag = "", Address = "";

                            var CAddress = "<b>City :</b> " + Data.City + "<br/><b>Country :</b> " + Data.County + "<br/><b>State :</b> " + Data.State + "<br/><b>Zip Code :</b> " + Data.Zip_Code +"";

                            var Address = "<a href='#'><span class='red-tooltip' data-toggle='tooltip' data-html='true' title='" + CAddress + "'>" +
                                Data.Address_1 + "</span></a>";


                            var newRow = "<tr>" +
                                "<td  style='text-align:left'>" + Data.Vendor_Number + "</td>" +
                                "<td>" + Data.Company + "</td>" +
                                "<td>" + Data.Email + "</td>" +
                                "<td>" + Address + "</td>" +
                                "<td>" + Data.Vendor_Tax_ID + "</td>" +
                                "<td>" + Data.Vendor_Terms + "</td>" +
                                "<td style='text-align:Right'>" +
                                "<div class='list-icons'><div class='dropdown hide'><a href='#' class='btn  actionbtn btn-sm' data-toggle='dropdown' aria-expanded='true'>" +
                                "<i class='icon-menu9'></i></a>" +
                                "<div class='dropdown-menu dropdown-menu-right hide' x-placement='top-end' style='text-align:center;position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-158px, -127px, 0px);min-width: 6.50rem;padding:0.2rem 0!important;'>" +
                                "<span class='red-tooltip' data-toggle='tooltip' title='Edit'><button onclick='EditVendor(" + Data.Vendor_Number + ");'type='button' class='btn bg-primary  btn-sm authorizeOrNotUpdate'  style='color:white'><b><i class='icon-pencil'></i></b></button></span>" +
                                "<span class='red-tooltip' data-toggle='tooltip' title='Delete'><button onclick='DeleteRecord(" + Data.Vendor_Number + ");'type='button' class='btn bg-danger btn-sm authorizeOrNotDelete'  style='color:white'><b><i class='icon-bin'></i></b></button></span>" +
                                "</div></div></div></td>"
                            "</tr>";


                            table.row.add($(newRow));
                        });

                        table.draw();
                        $(".paging_simple_numbers").html("");
                        var i;
                        debugger;
                        var TotalPages = totalrecords / $('#txtNoOfRowsID').val();
                        var CurrentPage = $('#txtCurrentPageID').val();
                        var paginghtml = "";
                        if (CurrentPage == 1) {
                            paginghtml += '<a class="paginate_button previous disabled" aria-controls="dtVendor" data-dt-idx="0" tabindex="0" id="dtVendor_previous">←</a>';

                        } else {
                            paginghtml += '<a class="paginate_button previous" aria-controls="dtVendor" data-dt-idx="0" tabindex="0" id="dtVendor_previous" onclick="fnGoToPrevPage()">←</a>';

                        }
                        if (TotalPages > 5) {
                            if (CurrentPage == Math.ceil(TotalPages) || CurrentPage > Math.ceil(TotalPages) - 4) {
                                paginghtml += '<span><a class="paginate_button" aria-controls="dtVendor" data-dt-idx="1" onclick="fnGoToPage(1)" tabindex="0">1</a>';

                                paginghtml += '<span><a class="paginate_button" aria-controls="dtVendor" data-dt-idx="1" tabindex="0">...</a>';

                                for (i = Math.ceil(TotalPages) - 4; i <= Math.ceil(TotalPages); i++) {
                                    if ($('#txtCurrentPageID').val() == i) {
                                        paginghtml += '<span><a class="paginate_button current" aria-controls="dtVendor" data-dt-idx="' + i + '" onclick="fnGoToPage(' + i + ')" tabindex="0">' + i + '</a>';


                                    }
                                    else {
                                        paginghtml += '<span><a class="paginate_button" aria-controls="dtVendor" data-dt-idx="' + i + '" onclick="fnGoToPage(' + i + ')" tabindex="0">' + i + '</a>';


                                    }

                                }



                            }
                            else if (CurrentPage < 5) {
                                if (TotalPages > 5) {
                                    for (i = 1; i <= 5; i++) {
                                        if ($('#txtCurrentPageID').val() == i) {
                                            paginghtml += '<span><a class="paginate_button current" aria-controls="dtVendor" data-dt-idx="' + i + '" onclick="fnGoToPage(' + i + ')" tabindex="0">' + i + '</a>';


                                        }
                                        else {
                                            paginghtml += '<span><a class="paginate_button" aria-controls="dtVendor" data-dt-idx="' + i + '" onclick="fnGoToPage(' + i + ')" tabindex="0">' + i + '</a>';


                                        }

                                    }
                                    paginghtml += '<span><a class="paginate_button" aria-controls="dtVendor" data-dt-idx="1" tabindex="0">...</a>';
                                    paginghtml += '<span><a class="paginate_button" aria-controls="dtVendor" data-dt-idx="' + Math.ceil(TotalPages) + '" onclick="fnGoToPage(' + Math.ceil(TotalPages) + ')" tabindex="0">' + Math.ceil(TotalPages) + '</a>';




                                }
                            }
                            else if (CurrentPage > 4 && CurrentPage <= Math.ceil(TotalPages) - 4 && CurrentPage != Math.ceil(TotalPages)) {
                                paginghtml += '<span><a class="paginate_button" aria-controls="dtVendor" data-dt-idx="1" onclick="fnGoToPage(1)" tabindex="0">1</a>';

                                paginghtml += '<span><a class="paginate_button" aria-controls="dtVendor" data-dt-idx="1" tabindex="0">...</a>';

                                for (i = CurrentPage - 1; i <= parseInt(CurrentPage) + parseInt(1); i++) {
                                    debugger;
                                    if ($('#txtCurrentPageID').val() == i) {
                                        paginghtml += '<span><a class="paginate_button current" aria-controls="dtVendor" data-dt-idx="' + i + '" onclick="fnGoToPage(' + i + ')" tabindex="0">' + i + '</a>';


                                    }
                                    else {
                                        paginghtml += '<span><a class="paginate_button" aria-controls="dtVendor" data-dt-idx="' + i + '" onclick="fnGoToPage(' + i + ')" tabindex="0">' + i + '</a>';


                                    }

                                }
                                paginghtml += '<span><a class="paginate_button" aria-controls="dtVendor" data-dt-idx="1" tabindex="0">...</a>';
                                paginghtml += '<span><a class="paginate_button" aria-controls="dtVendor" data-dt-idx="' + Math.ceil(TotalPages) + '" onclick="fnGoToPage(' + Math.ceil(TotalPages) + ')" tabindex="0">' + Math.ceil(TotalPages) + '</a>';





                            }

                        }
                        else {
                            for (i = 1; i <= Math.ceil(TotalPages); i++) {
                                if ($('#txtCurrentPageID').val() == i) {
                                    paginghtml += '<span><a class="paginate_button current" aria-controls="dtVendor" data-dt-idx="' + i + '" onclick="fnGoToPage(' + i + ')" tabindex="0">' + i + '</a>';


                                }
                                else {
                                    paginghtml += '<span><a class="paginate_button" aria-controls="dtVendor" data-dt-idx="' + i + '" onclick="fnGoToPage(' + i + ')" tabindex="0">' + i + '</a>';


                                }
                            }
                        }

                      
                        if (CurrentPage == Math.ceil(TotalPages)) {
                            paginghtml += '</span><a class="paginate_button next disabled" aria-controls="dtVendor" data-dt-idx="3" tabindex="0" id="dtVendor_next" ">→</a>';

                        }
                        else {
                            paginghtml += '</span><a class="paginate_button next " aria-controls="dtVendor" data-dt-idx="3" tabindex="0" id="dtVendor_next" onclick="fnGoToNextPage()">→</a>';

                        }
                        $(".paging_simple_numbers").html(paginghtml);

                        let firstRowID = Math.min.apply(null, result.map(function (o) { return o.RowNoID; }));
                        let lastRowID = totalrecords;
                        if (result.length >= $('#txtNoOfRowsID').val()) {
                            //  lastRowID = result[$('#txtNoOfRowsID').val() - 1].RowNoID
                            lastRowID = Math.max.apply(null, result.map(function (o) { return o.RowNoID; }));
                        }
                        if (firstRowID == 'Infinity') {
                            $("#dtVendor_info").text("Showing 0 to " + lastRowID + " of " + totalrecords + " entries.");
                        }
                        else {
                            $("#dtVendor_info").text("Showing " + firstRowID + " to " + lastRowID + " of " + totalrecords + " entries.");
                        }
                    }
                    else {
                        var errorMessage = AjaxErrorMessage + ' (Error Code: "400")';
                        swal("", errorMessage, "error");
                    }
                },
                error: function (xhr, status, error) {
                    var errorMessage = AjaxErrorMessage + ' (Error Code: ' + xhr.status + ')';
                    swal("", errorMessage, "error");

                }


            });
        }


        $("#VendorSearchForm").submit(function (event) {
            event.preventDefault();
            LoadTableData();
        });

        function EditVendor(id) {
            encrypt(id);
        }
        function encrypt(id) {
            var headers = {};
            var token = $('input[name="__RequestVerificationToken"]').val();
            headers['__RequestVerificationToken'] = token;
            $.ajax({
                type: "POST",
                headers: headers,
                contentType: "application/json; charset=utf-8",
                url: '/Common/Encrypt/',
                data: JSON.stringify({ ID: id }),
                dataType: "json",
                async: false,
                success: function (result) {
                    if (result != null && result != "" && result != "Error") {
                        setValues(result, id)


                    }
                    else {
                        var errorMessage = AjaxErrorMessage + ' (Error Code: "400")';
                        swal("", errorMessage, "error");

                    }

                },
                error: function (xhr, status, error) {
                    var errorMessage = AjaxErrorMessage + ' (Error Code: ' + xhr.status + ')';
                    swal("", errorMessage, "error");
                }

            });







        }
        function setValues(type, id) {
            window.open("/Vendor/Index?ID=" + type, '_self');// _blank
        }


        function DeleteRecord(ID) {
            swal({
                title: "",
                text: "Are you sure you want to Delete this record?",
                type: "warning",
                showCancelButton: true,
                confirmButtonText: "Confirm Delete",
                cancelButtonText: "Cancel",
                closeOnConfirm: false,
                closeOnCancel: true
            },
                function (isConfirm) {
                    if (isConfirm) {
                        var headers = {};
                        var token = $('input[name="__RequestVerificationToken"]').val();
                        headers['__RequestVerificationToken'] = token;
                        $.ajax({
                            type: "POST",
                            headers: headers,
                            contentType: "application/json; charset=utf-8",
                            url: "/Vendor/Delete",
                            data: JSON.stringify({ ID: ID }),
                            dataType: "json",
                            success: function (result) {

                                if (result.Code = 200) {
                                    LoadTableData();
                                    swal("", result.Message, result.Type);
                                }
                                else {
                                    swal("", result.Message, result.Type);

                                }

                            },
                            error: function (xhr, status, error) {
                                var errorMessage = AjaxErrorMessage + ' (Error Code: ' + xhr.status + ')';
                                swal("", errorMessage, "error");
                            }

                        });


                    } else {

                        swal("Cancelled", "Your operation Canceled :)", "error");
                    }
                });

        }

        function fnGoToNextPage() {
            try {
                let
                    _currentPageNumber = $.isNumeric($('#txtCurrentPageID').val()) ? Number($('#txtCurrentPageID').val()) : Number(1);
                _currentPageNumber = _currentPageNumber > 0 ? Number(++_currentPageNumber) : Number(1);
                $('#txtCurrentPageID').val(_currentPageNumber);
                let dttable = $("#dtVendor > tbody");
                dttable.html('');
                LoadTableData();
            } catch (err) {
                swal("Cancelled", err.toString(), "error");
            }
        }
        function fnGoToPrevPage() {
            try {

                let
                    _currentPageNumber = $.isNumeric($('#txtCurrentPageID').val()) ? Number($('#txtCurrentPageID').val()) : Number(1)
                    ;
                _currentPageNumber = _currentPageNumber > 1 ? Number(--_currentPageNumber) : Number(1);
                $('#txtCurrentPageID').val(_currentPageNumber);
                let dttable = $("#dtVendor > tbody");
                dttable.html('');
                LoadTableData();
            } catch (err) {
                swal("Cancelled", err.toString(), "error");
            }
        }

        function fnGoToPage(pageno) {
            try {

                $('#txtCurrentPageID').val(pageno);
                let dttable = $("#dtVendor > tbody");
                dttable.html('');
                LoadTableData();
            } catch (err) {
                swal("Cancelled", err.toString(), "error");
            }
        }
    </script>
}




