
@import "https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700";

    /*table.display {
        font-family: 'Muli'
    }

    table.dataTable.compact tbody th, table.dataTable.compact tbody td, table.dataTable.compact tfoot td {
      padding: 0px 17px 0px 4px;
        padding: 0px 0px 0px 0px;
    }*/

    td.details-control {
        background: url(../images/details_open.png) no-repeat center center;
        cursor: pointer;
        /*width: 30px;
        transition: .5s;*/
    }

    tr.shown td.details-control {
        background: url(../images/details_close.png) no-repeat center center;
        /*width: 30px;
        transition: .5s;*/
    }

    td.details-control1 {
        background: url(../images/details_open.png) no-repeat center center;
        cursor: pointer;
        /*width: 40px;
        transition: .5s;*/
    }

    tr.shown td.details-control1 {
        background: url(details_close.png) no-repeat center center;
        /*width: 40px;
        transition: .5s;*/
    }

    td.details-control2 {
        background: url(../images/details_open.png) no-repeat center center;
        cursor: pointer;
        /*/*width: 50px;
        transition: .5s;*/
    }

    tr.shown td.details-control2 {
        background: url(details_close.png) no-repeat center center;
        /*width: 50px;
        transition: .5s;*/
    }

    /*.fee-col {
        text-align: right;
    }*/

    /*.label-col {
        text-align: left;
    }*/

    tr.shown td {
        background-color: lightgrey !important;
        /*transition: .5s;
        font-weight: 800*/
    }
    /*td.invoice-date {
        background-color: rgba(237, 205, 255, .2);
    }
    td.invoice-author {
        background-color: rgba(237, 205, 255, .2);
    }
    td.invoice-notes {
        background-color: rgba(237, 205, 255, .2);
    }*/
