@{ 


    Layout = "";
}




<html>
<head>

    <title>  </title>

    <script src="~/Content/JS/jquery-3.6.0.min.js"></script>
    <script src="~/Content/JS/firstjquey.js"></script>

</head>

<body>





    <br />
    <br />
    <br />
    <br />
    <br />
    <button > my</button>

    <h1>First Heading </h1>



    <table id="table1">
    </table>


</body>

</html>





<p id="paragrah">


</p>

